.terre{
    background-color: brown;
}
.eau{
    background-color: blue;
}
.air{
    background-color: green;
}
.feu{
    background-color: red;
}

.piflechien{
    background: linear-gradient(red, orange,yellow, green, blue, purple, blue, green, yellow, orange, red);
    background-size: cover;
}