@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --clr-red95: rgb(220, 38, 38, 0.95);
    --clr-red65: rgb(220, 38, 38, 0.65);
    --clr-blue95: rgb(30, 64, 175, 0.95);
    --clr-blue65: rgb(30, 64, 175, 0.65);
    --clr-lime95: rgba(132, 204, 22, 0.95);
    --clr-lime65: rgba(132, 204, 22, 0.65);
}